/__pycache__
my_cronos.db
.gitignore
modules/__pycache__/mi_db.cpython-311.pyc
test_01.py
setup.py
modules/__pycache__/__init__.cpython-311.pyc
modules/__pycache__/mi_db.cpython-311.pyc
modules/__pycache__/__init__.cpython-312.pyc
modules/__pycache__/mi_db.cpython-312.pyc
modules/__pycache__/export_pdf_excel.cpython-311.pyc
python-installer.exe
